@import "tailwindcss";
/* color  */
/* :root {
  --color-primary: #0A0A0A;
  --color-secondary: #F6F5F3;
  --color-accent: #D4AF37;
  --color-tertiary: #2E2E2E;
  --color-danger: #5A1A17;
} */
 body{
  background-color: #2E2E2E;
  height: 100%;
  width: 100%;
 }
.embla__container {
  position: relative;
  height: 100%;
}

.embla__slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  will-change: opacity;
  z-index: 0;
}

.embla__slide[data-embla-fade-selected] {
  opacity: 1;
  z-index: 10;
}
